numpy==1.18.1
scipy==1.4.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pycuda==2019.1.2 --global-option='--conf:CUDA_ENABLE_GL=True'
phx-class-registry==3.0.5
toolz==0.10.0
tvl[NvdecBackend]==0.1.0b13
glfw==1.8.3

# Development dependencies
pytest==5.2.0
pytest-mock==1.11.0
hypothesis==4.38.1
